   <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">
        <div class="owl-carousel clients-carousel">
          <img src="/assets/img/clients.html/client-1.png" alt="">
          <img src="/assets/img/clients.html/client-2.png" alt="">
          <img src="/assets/img/clients.html/client-3.png" alt="">
          <img src="/assets/img/clients.html/client-4.png" alt="">
          <img src="/assets/img/clients.html/client-5.png" alt="">
          <img src="/assets/img/clients.html/client-6.png" alt="">
          <img src="/assets/img/clients.html/client-7.png" alt="">
          <img src="/assets/img/clients.html/client-8.png" alt="">
        </div>
      </div>
    </section>