<section id="staffing" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Clients</h1>
        <p>
          We serve virtually all small and big industries. We staff experts in
          accordance to the requirements of clients, from whichever industry
          they belong. We have ‘multiple-industries' experience that we have
          masterfully honed, working for various clients across the globe
        </p>
        <!-- <h2>
        Technology Staffing is the core recruiting division of ETS. We
        work with companies in a wide array of verticals, including
        retail services, financial services, professional services,
        insurance services and healthcare industries. We are structured
        to serve clients on a national level and are able to place
        professionals in all US regions.
      </h2> -->

        <div class="d-flex">
          <a href="#indus" class="btn-get-started scrollto"
            >INDUSTRIES WE SERVE</a
          >
          <!-- <a href="#etsdeliver" class="btn-get-started scrollto"
            >WHAT ETS CAN DELIVER</a
          > -->
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="/assets/img/clients.html.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>

<section id="clients" class="team section-bg">
  <div class="container">
    <div class="section-title">
      <p>
        There is no debate to our belief that serving our clients is at the core
        of our mission. We also believe that going the extra mile to validate
        and perform our due diligence in everything we do for our clients is the
        value we provide to our clients. Along with our Mission and Values, ETS
        is very much focused on delivering competitiveness to the client. <br />
      </p>
      <p>
        Every Client would want service provider to be capable of providing the
        right solutions and not just talk or brag about… We serve virtually all
        small and big industries. We staff experts in accordance to the
        requirements of clients, from whichever industry they belong. We have
        ‘multiple-industries' experience that we have masterfully honed, working
        for various clients across the globe. Each project was a challenge and
        each project was a success for us. We have several years of experience
        now and we have successfully positioned ourselves to provide best
        possible staffing solutions to clients of diverse industries.
      </p>
    </div>
    <p><strong>Core Client Industries served</strong></p>
    <div id="indus" class="row">
      <div class="col-md-4" style="padding-left: 50px">
        <ul>
          <li class="clientItem">Biotech</li>
          <li class="clientItem">Clinical</li>
          <li class="clientItem">Healthcare</li>
          <li class="clientItem">Insurance</li>
          <li class="clientItem">Pharmaceutical</li>
          <li class="clientItem">Scientific</li>
          <li class="clientItem">Media</li>
        </ul>
      </div>
      <div class="col-md-4" style="padding-left: 50px">
        <ul>
          <li class="clientItem">Cable</li>
          <li class="clientItem">Consumer Services</li>
          <li class="clientItem">Engineering</li>
          <li class="clientItem">Food & Beverage</li>
          <li class="clientItem">Government/Defense</li>
          <li class="clientItem">Retail</li>
          <li class="clientItem">Utilities</li>
        </ul>
      </div>
      <div class="col-md-4" style="padding-left: 50px">
        <ul>
          <li class="clientItem">Financial Services</li>
          <li class="clientItem">Mortgage</li>
          <li class="clientItem">Oil & Gas</li>
          <li class="clientItem">Technology</li>
          <li class="clientItem">Telecommunications</li>
          <li class="clientItem">Transportation</li>
          <li class="clientItem">Services</li>
        </ul>
      </div>
    </div>
  </div>
</section>
