<section id="staffing" class="about">
  <div id="team" class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <div
          class="row icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
        >
          <h3 data-aos="fade-up">Our TEAM</h3>
        </div>
        <p>
          <strong>Team ETS</strong> carry years of experience in recruiting for
          a wide range of skills across various industries. We have a separate
          team of experts who provide industry-oriented solutions, who show keen
          knowledge and understanding of how the valued staffing should be and
          how to make the clients at happier all times.<br />
          Our dynamically talented staffing experts undergo exclusive training
          processes before boarding the platform at ETS for recruiting the
          candidates for the clients. <br />We align our goals with the goal of
          our clients, share the same mission and vision as that of our clients
          and work in all possible ways to get the candidates who are simply a
          perfect match.
        </p>
        <p>
          One of the reasons for our success is
          <strong class="orange">Team ETS</strong>
        </p>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="/assets/img/team.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>
