<section id="staffing" class="about">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>About Us</h1>
        <p>
          Eminence Technology Solutions LLC, one of the leading IT and professional
          services executive search firms, is focused on providing highly
          customized recruiting services and solutions to our clients. We take
          pride in the enduring relationships we have developed with our clients.
          Our clients range in size from start-ups to multinationals.
        </p>
        <!-- <h2>
        Technology Staffing is the core recruiting division of ETS. We
        work with companies in a wide array of verticals, including
        retail services, financial services, professional services,
        insurance services and healthcare industries. We are structured
        to serve clients on a national level and are able to place
        professionals in all US regions.
      </h2> -->
        <div class="d-flex">
          <a href="#values" class="btn-get-started scrollto"
          >VALUES</a
        >
          <a href="#whyus" class="btn-get-started scrollto"
            >WHY ETS</a
          >
          <a href="#team" class="btn-get-started scrollto"
            >TEAM</a
          >

        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/aboutus2.png" class="img-fluid animated" alt="" />
      </div>
</div>
  </div>
</section>

<section id="staffing" class="about values section-bg">
  <div class="container">
    <div class="row icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
      <h3 data-aos="fade-up">About ETS</h3>
    </div>
    <p>One of our favorite quotes  <strong>“Challenge yourself everyday to do better and be better. Growth starts with a decision to move beyond your present circumstances”</strong>

      We started Eminence Technology Solutions with a vision of creating a company that is truly special. We are building a company that is a magnet for talented people; a company with a unique values, culture that fosters professional and personal growth that builds leaders and challenges great people to become their very best.
      
      Great companies always need great people. So, we align our business with the best companies out there; clients who want only the very best IT professionals. And we deliver the best of the best. We specialize in providing our clients with over-achievers. We have an eye for identifying IT professionals who are capable of creating game-changing technical solutions, the type of people who help great companies become even more successful.</p>
      <div class="row">
        <div
          class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="card" style="background-image: url(assets/img/vision.png)">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Vision</a></h5>
              <p class="card-text">
                To become the global, premier provider of IT services by serving
                our client’s technology and business needs with our Staffing and
                consulting Solutions.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="card" style="background-image: url(assets/img/mission.png)">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text">
                To build long-term relationships with Clients and nurture them with excellent and personalized service in quick and efficient manner
              </p>
            </div>
          </div>
        </div>
      </div>
    
  </div>
</section>
<%-
      include('values') -%>
<section id="about" class="about section-bg">

  <div class="container">
    <div class="row icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
      <h3 id="whyus" data-aos="fade-up">WHY CHOOSE ETS</h3>
    </div>
    <div id="resource" class="row">
      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"> <i class="bx bx-mail-send"></i></div>
          <h4 class="title">Resource Tools</h4>
          <p class="description">
            ETS maintains a wide network of senior trained recruiters both local
            and national who find the best candidates through networking as well
            as the use of the following sourcing tools: <br>
          <ul class="description">
            <li>Our proprietary resume database for technical individuals with an extensive experience in many
              disciplines.</li>
            <li>Through Licensed job boards.</li>
            <li>Through trusted vendors list.</li>
            <li>Through web - Our experienced team leaves no stone unturned to source consultants throughout web.</li>
            <li>Through Social media – We utilize various social media platforms to source required potential consultant.</li>
          </ul>
          </p>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 my-auto justify-content-center" data-aos="fade-right">
        <img src="assets/img/about/resource2.png" alt="ETS" class="img-fluid">
      </div>
    </div>
</div>

</section>
<section id="about" class="about">
  <div class="container">
    <div id="applicant"  class="row">
      <div class="col-xl-5 col-lg-6 my-auto justify-content-center" data-aos="fade-right">
        <img src="assets/img/about/applicant.png" alt="ETS" class="img-fluid roundedCorner">
      </div>
  
      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"> <i class="bx bx-selection"></i></i></div>
          <h4 class="title"><a href="">Applicant Screening</a></h4>
          <p class="description">
            Our superior internal qualifying process ensures that our clients interview the right consultant every time.
            We complete our screening process through video screening with each applicant, along with contacting all
            references. ETS leases a state of the art of comprehensive testing assessment program suite called TechChek,
            allowing us to test every technology required by our clients. <br>
  
            This strategy of recruitment coupled with the professionalism and responsiveness we provide to our clients,
            enables ETS to be a leader in the IT staffing industry.
          </p>
        </div>
      </div>
    </div>
  
  </div>
</section>
<section id="about" class="about section-bg">
  <div class="container">
    <div id="methodology" class="row">
      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"> <i class="bx bx-layer-plus"></i></div>
          <h4  class="title"><a href="">Methodology</a></h4>
          <p class="description">
            <strong>Methodology is intuition reconstructed in tranquility.</strong> <br>
  
            We listen, put ourselves in your shoes and share with you our experiences. Understanding our client’s nature
            of business and job specifications is vital to the success of every search. Our team is committed to
            research, listen and learn about your business nature, and eventually offering the right type of candidate
            personality that will fit the role.
          </p>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 my-auto justify-content-center" data-aos="fade-right">
        <img src="assets/img/about/methodology.png" alt="ETS" class="img-fluid roundedCorner">
      </div>
    </div>
  </div>

</section>
<section id="about" class="about ">
  <div class="container">
    <div id="guarantee"  class="row">
      <div class="col-xl-5 col-lg-6 my-auto justify-content-center" data-aos="fade-right" style="text-align: center;">
        <img src="assets/img/about/guarantee.png" alt="ETS" class="img-fluid" style="max-width: 250px;">
      </div>
  
      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bxs-like"></i></div>
          <h4 class="title"><a href="">100% Guaranteed Delivery</a></h4>
          <p class="description">
            With ETS be rest assured of delivery of shortlisted consultants. We cross check everything before we deliver
            consultants to our
            clients, so that they don’t have to worry while on boarding and can focus on the implementation of project.
  
  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


</section>