<section id="about" class="about section-bg">
  <div class="container">
    <div class="row icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
      <h3 data-aos="fade-up">About us</h3>
      <p data-aos="fade-up">
        Eminence Technology Solutions, one of the leading IT and professional
        services executive search firms, is focused on providing highly
        customize recruiting services and solutions to our clients. We take
        pride in the enduring relationships we have developed with our clients.
        Our clients range in size from start-ups to multinationals.
      </p>
    </div>
    <div class="row">
      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Resource Tools</a></h4>
          <p class="description">
            ETS maintains a wide network of senior trained recruiters both local
            and national who find the best candidates through networking as well
            as the use of the following sourcing tools: <br>
          <ul class="description">
            <li>Our proprietary resume database for technical individuals with an extensive experience in many
              disciplines.</li>
            <li>Through Licensed job boards.</li>
            <li>Through trusted vendors list.</li>
            <li>Through web - Our experienced team leaves no stone unturned to source consultants throughout web.</li>
          </ul>
          </p>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 my-auto justify-content-center" data-aos="fade-right">
        <img src="assets/img/about/resource.png" alt="ETS" class="img-fluid">
      </div>


    </div>
    <p>
    </p>
    <div class="row">
      <div class="col-xl-5 col-lg-6 my-auto justify-content-center" data-aos="fade-right">
        <img src="assets/img/about/applicant.jpg" alt="ETS" class="img-fluid roundedCorner">
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Applicant Screening</a></h4>
          <p class="description">
            Our superior internal qualifying process ensures that our clients interview the right consultant every time.
            We complete our screening process through video screening with each applicant, along with contacting all
            references. ETS leases a state of the art of comprehensive testing assessment program suite called TechChek,
            allowing us to test every technology required by our clients. <br>

            This strategy of recruitment coupled with the professionalism and responsiveness we provide to our clients,
            enables ETS to be a leader in the IT staffing industry.
          </p>
        </div>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Methodology</a></h4>
          <p class="description">
            <strong>Methodology is intuition reconstructed in tranquility.</strong> <br>

            We listen, put ourselves in your shoes and share with you our experiences. Understanding our client’s nature
            of business and job specifications is vital to the success of every search. Our team is committed to
            research, listen and learn about your business nature, and eventually offering the right type of candidate
            personality that will fit the role.
          </p>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 my-auto justify-content-center" data-aos="fade-right">
        <img src="assets/img/about/methodology.jpg" alt="ETS" class="img-fluid roundedCorner">
      </div>


    </div>
    <p></p>
    <div class="row">
      <div class="col-xl-5 col-lg-6 my-auto justify-content-center" data-aos="fade-right" style="text-align: center;">
        <img src="assets/img/about/guarantee.png" alt="ETS" class="img-fluid" style="max-width: 250px;">
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">100% Guaranteed Delivery</a></h4>
          <p class="description">
            With ETS be rest assured of delivery of shortlisted consultants. We cross check everything before we deliver
            consultants to our
            clients, so that they don’t have to worry while on boarding and can focus on the implementation of project.


          </p>
        </div>
      </div>
    </div>
  </div>
</section>