<section id="about" class="about section-bg">
  <div class="container">
    <div
      class="row icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
    >
      <h4 data-aos="fade-up">About us</h4>
      <h3 data-aos="fade-up">Welcome to Eminence Technology Solutions LLC</h3>
      <p data-aos="fade-up">
        Eminence Technology Solutions, one of the leading IT and professional
        services executive search firms, is focused on providing highly
        customize recruiting services and solutions to our clients. We take
        pride in the enduring relationships we have developed with our clients.
        Our clients range in size from start-ups to multinationals.
      </p>
    </div>
    <div class="row">
      <div
        class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
        data-aos="fade-right"
      >
        <a
          href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
          class="venobox play-btn mb-4"
          data-vbtype="video"
          data-autoplay="true"
        ></a>
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
      >
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Resource Tools</a></h4>
          <p class="description">
            ETS maintains a wide network of senior trained recruiters both local
            and national who find the best candidates through networking as well
            as the use of the following sourcing strategies: 1) Our proprietary
            resume database technical individuals with an extensive breadth of
            experience in many disciplines.ETS leases a state of the art
            comprehensive testing assessment program suite called TeckChek,
            allowing us to test every technology required by our clients today.
          </p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Applicant Screening</a></h4>
          <p class="description">
            Our superior internal qualifying process ensures that our clients
            interview the right consultant every time. We complete our screening
            process through meeting with each applicant, along with contacting
            all references. This strategy of recruitment coupled with the
            professionalism and responsiveness we provide to our clients,
            enables ETS to be a leader in the IT staffing industry.
          </p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Industry</a></h4>
          <p class="description">
            We maintain a strong presence in the financial service arena while
            we cover a multitude of industries including telecommunications,
            manufacturing, pharmaceutical, insurance, and chemical to name just
            a few. The key to our success as a primary vendor to so many clients
            is based on our thorough understanding of our client's business
            needs, and our ability to fulfill those needs with the best
            qualified resources.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
