<section id="staffing" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Careers</h1>
        <p>
          At Eminence Technology Solutions, the heart of our work is building
          strong relationships. Our mission is to create the right business
          partnerships with clients and candidates. We understand that finding
          the right management or professional position is a two-way street.
        </p>
        <!-- <h2>
        Technology Staffing is the core recruiting division of ETS. We
        work with companies in a wide array of verticals, including
        retail services, financial services, professional services,
        insurance services and healthcare industries. We are structured
        to serve clients on a national level and are able to place
        professionals in all US regions.
      </h2> -->
        <!-- <div class="d-flex">
          <a href="#contract-hiring" class="btn-get-started scrollto"
            >CONTRACT HIRING</a
          >
          <a href="#semipermanent-hiring" class="btn-get-started scrollto"
            >SEMI-PERMANENT HIRING</a
          >
          <a href="#permanent-hiring" class="btn-get-started scrollto"
            >PERMANENT HIRING</a
          >
        </div> -->
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/career.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="portfolio-details section-bg">
  <div class="container">
    <div class="portfolio-description">
      <p>
        That’s why getting to know us now, before your search becomes
        unmanageable, is the best strategy for finding a long-term position
        where your talents can shine the brightest. We invite executives and
        professionals who are looking for something new to submit resumes and
        get to know us. Our large base of clients are always looking for the
        best talent, and that’s what you bring to the fore.
      </p>
    </div>
  </div>
</section>
<!-- 
<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Careers</h2>
    </div>
    <div class="portfolio-details-container">
      <div class="owl-carousel portfolio-details-carousel">
        <img src="assets/img/career.png" class="img-car" alt="" />
      </div>
    </div>
    <div class="row">
      <p>
        At Eminence Technology Solutions, the heart of our work is building
        strong relationships. Our mission is to create the right business
        partnerships with clients and candidates. We understand that finding the
        right management or professional position is a two-way street.
      </p>
    </div>
    <div class="row"></div>
  </div>
</section> -->
