<section id="clients" class="team section-bg">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-up">Clients</h2>
      <p data-aos="fade-up">There is no debate to our belief that serving our clients is at the core of our mission. We
        also believe that going the extra mile to validate and perform our due diligence in everything we do for our
        clients is the value we provide to our clients. Along with our Mission and Values, ETS is very much focused on
        delivering competitiveness to the client. <br>
      </p>

    </div>
    <p><strong>Core Client Industries served</strong></p>
    <div class="row">
      <div class="col-md-4" style="padding-left : 50px;">
        <ul>
          <li>Biotech</li>
          <li>Clinical</li>
          <li>Healthcare</li>
          <li>Insurance</li>
          <li>Pharmaceutical</li>
          <li>Scientific</li>
          <li>Media</li>
        </ul>
      </div>
      <div class="col-md-4" style="padding-left : 50px;">
        <ul>
          <li>Biotech</li>
          <li>Clinical</li>
          <li>Healthcare</li>
          <li>Insurance</li>
          <li>Pharmaceutical</li>
          <li>Scientific</li>
          <li>Media</li>
        </ul>
      </div>
      <div class="col-md-4" style="padding-left : 50px;">
        <ul>
          <li>Biotech</li>
          <li>Clinical</li>
          <li>Healthcare</li>
          <li>Insurance</li>
          <li>Pharmaceutical</li>
          <li>Scientific</li>
          <li>Media</li>
        </ul>
      </div>
    </div>
  </div>
</section>