<section id="staffing" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Contact Us</h1>
        <p>If you would like to speak with an ETS associate about a current IT need for your
          organization, please call us at 1-732 348 0123
          or email us at info@eminencets.com</p>
        <!-- <h2>
        Technology Staffing is the core recruiting division of ETS. We
        work with companies in a wide array of verticals, including
        retail services, financial services, professional services,
        insurance services and healthcare industries. We are structured
        to serve clients on a national level and are able to place
        professionals in all US regions.
      </h2> -->
        <div class="d-flex">
          <a href="#contact" class="btn-get-started scrollto"
            >OFFICE LOCATIONS</a
          >
          <a href="tel:+1-732-348-0123" class="btn-get-started scrollto"
            >CALL US</a
          >
          <a href="mailto:info@eminencets.com" class="btn-get-started scrollto"
            >EMAIL US</a
          >
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/contactus.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title">
      <!-- <h2 data-aos="fade-up">Contact</h2> -->

    </div>

    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-6 mt-4" data-aos="fade-up">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h3>Corporate Office</h3>
          <p>370 Campus Drive Suite 138, <br> Somerset, NJ 08873
            <br> Phone : +1 732-348-0123 <br>
            Fax : +1 732-626-7007 <br>
            <span>info@eminencets.com</span></p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 mt-4" data-aos="fade-up">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h3>Off-shore office</h3>
          <p>3-7-62/1/1, Swathi Gardens,<br>
            LB Nagar, Hyderabad, <br> India – 500068 <br>
            Phone: +91 9493861216 <br>
            <span>info@eminencets.com</span></p>
        </div>
      </div>
      <!-- 
      <div class="col-xl-6 col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="100">
        <div class="info-box">
          <i class="bx bx-envelope"></i>
          <h3>Email Us</h3>
          <p>info@eminencets.com</p>
        </div>
      </div>
    </div> -->
      <!-- 
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
      <div class="col-xl-9 col-lg-12 mt-4">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
              data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required"
              data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div> -->

    </div>
</section>