<div class="credits">
  <div class="container d-lg-flex py-1">
    <div class="row">
      <div class="credits">
        &copy; Copyright
        <strong><span>Eminence Technology Solution LLC</span></strong
        >. All Rights Reserved
        <span class="mx-4">
          Designed by
          <img
            src="https://techpranee.com/assets/img/techpranee_logo.png"
            alt="techpranee"
            width="25px"
          />
          <a href="https://techpranee.com/">TechPranee</a> &
          <a href="https://bootstrapmade.com/">Bootstrapmade</a>
        </span>
      </div>
    </div>
  </div>
</div>
