<div class="container d-lg-flex py-4">
  <div class="mr-lg-auto text-center text-lg-left">
    <div class="copyright">
      &copy; Copyright <strong><span>ETS</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits mt-2">
      Designed by
      <img
        src="https://techpranee.com/assets/img/techpranee_logo.png"
        alt="techpranee"
        width="25px"
      />
      <a href="https://techpranee.com/">TechPranee</a> &
      <a href="https://bootstrapmade.com/">Bootstrapmade</a>
    </div>
  </div>
  <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
    <a href="https://twitter.com/EtsEminence" class="twitter"
      ><i class="bx bxl-twitter"></i
    ></a>
    <a href="https://www.facebook.com/ets.eminence" class="facebook"
      ><i class="bx bxl-facebook"></i
    ></a>
    <a href="https://www.instagram.com/eminencets/" class="instagram"
      ><i class="bx bxl-instagram"></i
    ></a>
    <a
      href="https://www.linkedin.com/company/eminence-technology-solutions"
      class="linkedin"
      ><i class="bx bxl-linkedin"></i
    ></a>
  </div>
</div>
