<header id="header">
  <div class="container d-flex">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="/"><span>ETS</span></a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/#about">About Us</a></li>
        <li class="drop-down">
          <a href="/#services">Services</a>
          <ul>
            <li><a href="/service/staffing-services">Staffing Services</a></li>
            <li><a href="/service/erp-solutions">ERP Solutions</a></li>
            <li><a href="/service/payroll-services">Payroll Services</a></li>
          </ul>
        </li>
        <li><a href="/#clients">Clients</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>