<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container" data-aos="fade-in">
    <h1>Welcome to Eminencets</h1>
    <br>
    <h2>Our passion for helping clients find their ideal candidates is unparalleled <br>Your Trusted IT Staffing Partner
    </h2>
    <br>
    <br>
    <!-- <div class="d-flex align-items-center">
        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div> -->
  </div>
</section>