<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <ul>
        <li>
          <i class="icofont-envelope"></i><a href="mailto:contact@example.com"> info@eminencets.com</a>
        </li>
        <li><i class="icofont-phone"></i> +1 732-348-0123</li>
        <li>
          <i class="icofont-clock-time icofont-flip-horizontal"></i> Mon-Fri 9am
          - 5pm
        </li>
      </ul>
    </div>
    <div class="cta">
      <a href="/#contact" class="scrollto">Call Us Now!</a>
    </div>
  </div>
</section>