    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Eminence Technology Solutions is a professional services firm that designs, develops and integrates enterprise software applications. Capabilities include ability to successfully develop and manage solutions for small enterprise to global organizations. Committed to developing ongoing business relationships with our clients, we provide end-to-end software development and support capabilities with option to assemble a team quickly comprised of state side and offshore resources that fits the need of your organization.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Services & Solutions</a></h4>
              <p class="description">Eminence Technology Solutions blends strategic analysis, architecture, creative services, applications and network infrastructure to develop comprehensive, enterprise solutions for our clients.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Technology Staffing</a></h4>
              <p class="description">We work with companies in a wide array of verticals, including retail services, financial services, professional services, insurance services and healthcare industries. We are structured to serve clients on a national level and are able to place professionals in all US regions.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="icofont-earth"></i></div>
              <h4 class="title"><a href="">Application Development</a></h4>
              <p class="description">We offer solutions in areas of web and windows applications, We have been delivering custom solutions to small and medium size organizations, and have handled a variety of IT projects for the clients of Real Estate, Education, Finance and Jewellery industry.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="icofont-image"></i></div>
              <h4 class="title"><a href="">ERP Solutions</a></h4>
              <p class="description">ETS leverages the latest technologies to help organizations build the best staffing structures available. We are well-equipped to work either in concert with existing HR departments and hiring practices or to create an independent model specific to each client’s needs.</p>
            </div>
          </div>
        </div>

      </div>
    </section>