<section id="services" class="services withbg section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>
        Eminence Technology Solutions is a professional services firm that
        designs, develops and integrates enterprise software applications.
        Capabilities include ability to successfully develop and manage
        solutions for small enterprise to global organizations. Committed to
        developing ongoing business relationships with our clients, we provide
        end-to-end software development and support capabilities with option to
        assemble a team quickly comprised of state side and offshore resources
        that fits the need of your organization.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 serviceCards" data-aos="fade-up">
        <div class="icon-box">
          <div class="icon"><i class="icofont-computer"></i></div>
          <h4 class="title">
            <a href="/service/staffing-services">Staffing Services</a>
          </h4>
          <p class="description">
            Technology Staffing is the core recruiting division of ETS. We work
            with companies in a wide array of verticals, including retail
            services, financial services, professional services, insurance
            services and healthcare industries.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-4 serviceCards"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
          <h4 class="title">
            <a href="/service/erp-solutions">ERP Solutions</a>
          </h4>
          <p class="description">
            Enterprise resource planning (ERP) is a type of software that
            integrates day-to-day business processes of a company / Industry.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-4 serviceCards"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <div class="icon"><i class="icofont-earth"></i></div>
          <h4 class="title">
            <a href="/service/payroll-services">Payroll Services</a>
          </h4>
          <p class="description">
            It is an integral part of bookkeeping process and it requires highly
            diligent efforts. When you want your payroll processing to be
            handled efficiently and effectively an expert Payroll Processing
            service Provider is needed.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
