<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="owl-carousel testimonials-carousel">

      <div class="testimonial-item">

        <h3>Vinu Varghese</h3>
        <h4>Deputy Manager, Talent Acquisition - Tavant Technologies</h4>
        <p>
        <p><b> Supportive, motivating and highly professional </b></p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>

        I enjoyed working with ETS. Kishore @ ETS has excellent listening skills, great attitude and the willingness to
        mend that helped him to understand and deliver to the expectations. He is always there to rely and support at
        any crucial point on the work front. His effort to keep the strong relationship with clients is commendable. I
        wish you all the best and success!!
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

      <div class="testimonial-item">

        <h3>Vipul Shrivastav</h3>
        <h4>Manager, Talent Acquisition - Impetus</h4>
        <p>
        <p> <b>ETS does Quality work in Given time</b>
        </p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        I recommend ETS for Staffing services. Kishore gets the job done by his team efficiently and in organized manner
        for searching the qualified candidates well within the given time frame.
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

      <div class="testimonial-item">

        <h3>Abhra (Abe) Mukherjee</h3>
        <h4>Vice President - MML Consulting LLC</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          I have used ETS to obtain temporary staff to fill in for short and long term assignments. The staff is
          professional and very responsive. I recommend using ETS services for your staffing needs!
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

      <div class="testimonial-item">

        <h3>Tracy</h3>
        <h4>HR Manager</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          ETS has worked very hard to get to know us and know our business needs. This has helped us in big way and it
          shows that ETS takes the extra step to support their clients.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

      <div class="testimonial-item">

        <h3>Tom</h3>
        <h4>Senior Manager, Human Resource</h4>
        <p>
        <p> <b>Great communication, consistently provide strong candidates.</b>
        </p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        Great team to partner with – great communication and a passion for excellence. They have made a huge impact on
        our staffing situation… They consistently provide us with strong candidates.
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>
      <div class="testimonial-item">

        <h3>Kelli</h3>
        <h4>Human Resource Manager</h4>
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Over the years, I have had the opportunity to work with ETS to recruit for several key roles within our
          company. They were extremely successful in identifying exceptional talent and I was impressed with their level
          of professionalism and responsiveness. I have always been satisfied with their service and certainly plan to
          engage them in our future staffing needs.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
      </div>

    </div>

  </div>
</section>