<section id="unique" class="services">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2 data-aos="fade-up">What Makes Us Different</h2>
    </div>

    <div id="resource" class="row">
      <div
        class="col-xl-4 col-lg-4 my-auto mx-auto justify-content-center"
        data-aos="fade-right"
      >
        <h4 class="title">Visualize & Plan</h4>
        <img src="assets/img/Plan.png" alt="ETS" class="img-fluid uniqueimgs" />
        <p class="description">We do planning to save our customer's time</p>
      </div>
      <div
        class="col-xl-4 col-lg-4 my-auto mx-auto justify-content-center"
        data-aos="fade-up"
      >
        <h4 class="title">Double Screening</h4>
        <img
          src="assets/img/double.png"
          alt="ETS"
          class="img-fluid uniqueimgs"
        />
        <p class="description">We do a lot of screening and double checks.</p>
      </div>
      <div
        class="col-xl-4 col-lg-4 my-auto mx-auto justify-content-center"
        data-aos="fade-left"
      >
        <h4 class="title">Successful Delivery</h4>
        <img
          src="assets/img/successfulDelivery.png"
          alt="ETS"
          class="img-fluid uniqueimgs"
        />
        <p class="description">
          We assure smooth onboarding & successful Delivery
        </p>
      </div>
    </div>
  </div>
</section>
