<section id="unique" class="about section-bg">
  <div class="container">
    <div
      class="row icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
    >
      <h3 data-aos="fade-up">What Makes Us Different</h3>
      <p data-aos="fade-up">
        Eminence Technology Solutions, follows critical methodology with prime
        focus on ensuring time and value benefits to its customers
      </p>
    </div>
    <div id="resource" class="row">
      <div
        class="col-xl-4 col-lg-4 my-auto mx-auto justify-content-center"
        data-aos="fade-right"
      >
        <h4 class="title">Visualize & Plan</h4>
        <img src="assets/img/Plan.png" alt="ETS" class="img-fluid uniqueimgs" />
        <p class="description">
          we do all the planning before hand to save our customers time
        </p>
      </div>
      <div
        class="col-xl-4 col-lg-4 my-auto mx-auto justify-content-center"
        data-aos="fade-right"
      >
        <h4 class="title">Double Screening</h4>
        <img
          src="assets/img/double.png"
          alt="ETS"
          class="img-fluid uniqueimgs"
        />
        <p class="description">
          We do a lot of screening and double checks to deliver quality
        </p>
      </div>
      <div
        class="col-xl-4 col-lg-4 my-auto mx-auto justify-content-center"
        data-aos="fade-right"
      >
        <h4 class="title">Partnerships</h4>
        <img
          src="assets/img/partnerships.png"
          alt="ETS"
          class="img-fluid uniqueimgs"
        />
        <p class="description">
          We have unique partnerships to help gain access to better talent at
          exceptional rate
        </p>
      </div>
    </div>
  </div>
</section>
