<section id="staffing" class="values about section-bg">
  <div id="values" class="container">
    <div
      class="row icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
    >
      <h3 data-aos="fade-up">Our VALUES</h3>
    </div>
    <div class="row">
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="card" style="background-image: url(assets/img/vision.png)">
          <div class="card-body">
            <h5 class="card-title"><a href="">Our Vision</a></h5>
            <p class="card-text">
              To become the global, premier provider of IT services by serving
              our client’s technology and business needs with our Staffing and
              consulting Solutions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card" style="background-image: url(assets/img/mission.png)">
          <div class="card-body">
            <h5 class="card-title"><a href="">Our Mission</a></h5>
            <p class="card-text">
              Is to build long-term relationships and nurture them with
              excellent and personalized service, quick and efficient client
              searches, and expert intuition.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row my-5">
      <p>
        We always strive to build long-term relationships with our clients and
        employees, and improve the communities in which we live and work.
      </p>
      <ul style="list-style: none">
        <h6 style="font-weight: 600; color: #ff5821">
          Recruiting for Excellence
        </h6>
        <li>
          Our energy, passion and pride bring exceptional value to our clients.
          We aim to provide our clients with optimum, high quality technology
          solutions. We do this by tailoring our solutions to match the distinct
          business needs of our clients while staying connected with the cutting
          edge of technology.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">Valuing Integrity</h6>
        <li>
          Establishing integrity and trust in our relationships is of paramount
          importance to us. Each employee has an opportunity to contribute to
          the company's success without comprising their personal ethics, values
          and principles.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">
          Respecting the Individual
        </h6>
        <li>
          We are committed to the personal and professional development of all
          our employees. Our open door policy ensures access to every level of
          management to all team members. We recognize our employees need to
          achieve the right balance between their corporate and personal lives.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">
          Contributing to Society
        </h6>
        <li>
          We donate some part of Profit to the Needy people to bring smiles on
          their faces.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">Transparency</h6>
        <li>
          We emphasize trust and transparency throughout all elements of the
          staffing process by keeping open lines of communication
        </li>
        <h6 style="font-weight: 600; color: #ff5821">Responsiveness</h6>
        <li>
          Whenever you are looking for fulltime fit or someone to start next
          day, we always operate with high sense of urgency and discrete.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">Inclusion</h6>
        <li>
          Providing an equal and inclusive environment is of utmost importance
          to us. Through listening, learning, and continuing to offer proper
          resources and opportunities, we are devoted to ensuring every
          individual is represented, included, and ultimately heard.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">Entrepreneurship</h6>
        <li>
          We’ve always felt that the sky’s the limit. Whether that applies to
          new strategies for our clients or the growth potential of our internal
          employees, our entrepreneurial spirit is the foundation for our
          success.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">Diversity</h6>
        <li>
          We’ve always believed that people are what move companies forward. We
          know that growth and innovation come from differences, not
          similarities, and are committed to fostering diversity and
          inclusiveness in all aspects of our business.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">Accountability</h6>
        <li>
          Since day one, we’ve always held ourselves to the highest ethical
          standards. We’re dedicated to building long-term relationships and do
          everything we can to ensure that everyone we work with is educated
          about the factors that affect their careers.
        </li>
      </ul>
    </div> -->
  </div>
</section>

<section id="faq" class="faq">
  <div class="container">
    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" class="collapse" href="#faq-list-1"
            >Recruiting for Excellence
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
            <p>
              Our energy, passion and pride bring exceptional value to our
              clients. We aim to provide our clients with optimum, high quality
              technology solutions. We do this by tailoring our solutions to
              match the distinct business needs of our clients while staying
              connected with the cutting edge of technology.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-2" class="collapsed"
            >Valuing Integrity <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-2" class="collapse" data-parent=".faq-list">
            <p>
              Establishing integrity and trust in our relationships is of
              paramount importance to us. Each employee has an opportunity to
              contribute to the company's success without comprising their
              personal ethics, values and principles.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-3" class="collapsed"
            >Respecting the Individual
            <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-3" class="collapse" data-parent=".faq-list">
            <p>
              We are committed to the personal and professional development of
              all our employees. Our open door policy ensures access to every
              level of management to all team members. We recognize our
              employees need to achieve the right balance between their
              corporate and personal lives.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-4" class="collapsed"
            >Contributing to Society <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-4" class="collapse" data-parent=".faq-list">
            <p>
              We donate some part of Profit to the Needy people to bring smiles
              on their faces.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-5" class="collapsed"
            >Transparency<i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
              We emphasize trust and transparency throughout all elements of the
              staffing process by keeping open lines of communication
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-5" class="collapsed"
            >Responsiveness<i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
              Whenever you are looking for fulltime fit or someone to start next
              day, we always operate with high sense of urgency and discrete.
            </p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-5" class="collapsed"
            >Inclusion<i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
              Providing an equal and inclusive environment is of utmost
              importance to us. Through listening, learning, and continuing to
              offer proper resources and opportunities, we are devoted to
              ensuring every individual is represented, included, and ultimately
              heard.
            </p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-5" class="collapsed"
            >Entrepreneurship<i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
              We’ve always felt that the sky’s the limit. Whether that applies
              to new strategies for our clients or the growth potential of our
              internal employees, our entrepreneurial spirit is the foundation
              for our success.
            </p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-5" class="collapsed"
            >Diversity<i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
              We’ve always believed that people are what move companies forward.
              We know that growth and innovation come from differences, not
              similarities, and are committed to fostering diversity and
              inclusiveness in all aspects of our business.
            </p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bxs-right-arrow-circle icon-help"></i>
          <a data-toggle="collapse" href="#faq-list-5" class="collapsed"
            >Accountability<i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-chevron-up icon-close"></i
          ></a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
              Since day one, we’ve always held ourselves to the highest ethical
              standards. We’re dedicated to building long-term relationships and
              do everything we can to ensure that everyone we work with is
              educated about the factors that affect their careers.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
