<section id="staffing" class="values about section-bg">
  <div id="values" class="container">
    <div
      class="row icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
    >
      <h3 data-aos="fade-up">Our VALUES</h3>
    </div>
    <div class="row">
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="card" style="background-image: url(assets/img/vision.png)">
          <div class="card-body">
            <h5 class="card-title"><a href="">Our Vision</a></h5>
            <p class="card-text">
              Is to make your business shine with the brightest executive and
              professional talent.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card" style="background-image: url(assets/img/mission.png)">
          <div class="card-body">
            <h5 class="card-title"><a href="">Our Mission</a></h5>
            <p class="card-text">
              Is to build long-term relationships and nurture them with
              excellent and personalized service, quick and efficient client
              searches, and expert intuition.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <p>
        We always strive to build long-term relationships with our clients and
        employees, and improve the communities in which we live and work.
      </p>
      <ul style="list-style: none">
        <h6 style="font-weight: 600; color: #ff5821">
          Recruiting for Excellence
        </h6>
        <li>
          Our energy, passion and pride bring exceptional value to our clients.
          We aim to provide our clients with optimum, high quality technology
          solutions. We do this by tailoring our solutions to match the distinct
          business needs of our clients while staying connected with the cutting
          edge of technology.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">Valuing Integrity</h6>
        <li>
          Establishing integrity and trust in our relationships is of paramount
          importance to us. Each employee has an opportunity to contribute to
          the company's success without comprising their personal ethics, values
          and principles.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">
          Respecting the Individual
        </h6>
        <li>
          We are committed to the personal and professional development of all
          our employees. Our open door policy ensures access to every level of
          management to all team members. We recognize our employees need to
          achieve the right balance between their corporate and personal lives.
        </li>
        <h6 style="font-weight: 600; color: #ff5821">
          Contributing to Society
        </h6>
        <li>
          We donate some part of Profit to the Needy people to bring smiles on
          their faces.
        </li>
      </ul>
    </div>
  </div>
</section>
