<section id="why-us" class="why-us">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5" data-aos="fade-up">
        <div class="content">
          <h3>Why Choose Eminence Technology Solutions (ETS)?</h3>
          <p>
            At Eminence Technology Solutions our experience and expertise in the
            field of information technology enables us to view client problems
            from multiple perspectives. Our industry specific knowledge gives us
            a major advantage when analyzing the factors that effect client
            performance in key IT related areas.
          </p>
          <div class="text-center">
            <a href="#" class="more-btn"
              >Learn More <i class="bx bx-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7 d-flex">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div
              class="col-xl-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>People</h4>
                <!-- <p>
                  We analyze our clients’ employees to identify any key areas
                  that may be improved to produce more efficient employee IT
                  performance.
                </p> -->
              </div>
            </div>
            <div
              class="col-xl-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Processes</h4>
                <!-- <p>
                  We assess the IT processes currently employed by our clients
                  to determine if they may be improved in any way.
                </p> -->
              </div>
            </div>
            <div
              class="col-xl-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Marketing</h4>
                <!-- <p>
                  We evaluate the IT specific marketing techniques used by our
                  clients and suggest alternative methods that will optimize
                  exposure and increase revenue.
                </p> -->
              </div>
            </div>
            <div
              class="col-xl-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Technology</h4>
                <!-- <p>
                  We examine the technology our clients use and determine if any
                  alternative cost saving options are available.
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
