<section id="why-us" class="why-us">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5" data-aos="fade-up">
        <div class="content">
          <h3>
            Why Choose <span id="diffcolor">E</span>minence
            <span id="diffcolor">T</span>echnology
            <span id="diffcolor">S</span>olutions?
          </h3>
          <p>
            At Eminence Technology Solutions our experience and expertise in the
            field of information technology enables us to view client problems
            from multiple perspectives. Our industry specific knowledge gives us
            a major advantage when analyzing the factors that effect client
            performance in key IT related areas.
          </p>
          <div class="text-center">
            <a href="/about" class="more-btn"
              >Learn More <i class="bx bx-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7 d-flex">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div
              class="col-xl-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <a href="/about#resource">
                  <i class="bx bx-mail-send"></i>
                  <h4>Resource Tools</h4>
                </a>
                <!-- <p>
                  We analyze our clients’ employees to identify any key areas
                  that may be improved to produce more efficient employee IT
                  performance.
                </p> -->
              </div>
            </div>
            <div
              class="col-xl-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <a href="/about#applicant">
                  <i class="bx bx-selection"></i>
                  <h4>Applicant Screening</h4>
                </a>
              </div>
            </div>
            <div
              class="col-xl-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <a href="/about#methodology">
                  <i class="bx bx-layer-plus"></i>
                  <h4>Methodology</h4>
                </a>
                <!-- <p>
                  We evaluate the IT specific marketing techniques used by our
                  clients and suggest alternative methods that will optimize
                  exposure and increase revenue.
                </p> -->
              </div>
            </div>
            <div
              class="col-xl-3 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon-box mt-4 mt-xl-0">
                <a href="/about#guarantee">
                  <i class="bx bxs-like"></i>
                  <h4>Guaranteed Delivery</h4>
                </a>
                <!-- <p>
                  We examine the technology our clients use and determine if any
                  alternative cost saving options are available.
                </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
