<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') -%>
    <link href="assets/css/staffing.css" rel="stylesheet" />
  </head>
<body>
  <%- include('partials/navBar') -%>
  <%- include('partials/header') -%>

  <main id="main">
    <section id="staffing" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1>Payroll Services</h1>
            <!-- <h2>
              Technology Staffing is the core recruiting division of ETS. We
              work with companies in a wide array of verticals, including
              retail services, financial services, professional services,
              insurance services and healthcare industries. We are structured
              to serve clients on a national level and are able to place
              professionals in all US regions.
            </h2> -->
            <div class="d-flex">
              <a href="#featuresKey" class="btn-get-started scrollto"
                >CONSIDER HIRING US</a>
              
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="assets/img/payroll.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/#services">Services</a></li>
          <li>Payroll Services</li>
        </ol>
        <h2>Payroll Services</h2>
      </div>
    </section> -->
    <section class="portfolio-details section-bg">
      <div class="container">

        <!-- <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="assets/img/portfolio/payroll.png" class="img-car" alt="">
          </div>
        </div> -->

        <div id="featuresKey" class="portfolio-description">

          <p>
            The payroll processing for a business is the backbone of Human resource management. It is an integral part
            of bookkeeping process and it requires highly diligent efforts. When you want your payroll processing to be
            handled efficiently and effectively an expert Payroll Processing service Provider is needed.
          </p>
          <h2> Why should you hire us? </h2>
          <p>
          <ol>
            <li> We are best in the business and provide best solution to all your payroll related issues. Our expert
              team having vast experience helps us to provide customized and effective solution for your needs. </li>
            <li> So that you will save your time and utilize it, where it is more needed for you.</li>
            <li> Outsourcing payroll services shall help you for pre-employment screening and security clearance
              facilitation. This shall give you confidence with every hire. </li>
            <li> Maintain employee master details – We work with our clients to obtain periodic changes for employees
              and update them in payroll software.</li>
            <li> We run payroll cycle after approval of final review of reports prepared by us with clients
              confirmation. </li>
            <li> We ensure timely compliance and filing of returns including Form 941, 940 and state withholding and
              state unemployment returns.</li>
            <li> We ensure timely issuance of Form W-2s and filing of W-3.</li>
          </ol>
          </p>
        </div>
      </div>
    </section>

  </main>
  <%- include('partials/footer') -%>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>